@font-face {
    font-family: GilroyBold;
    src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: GilroyReg;
    src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: Peyda;
    src: url(../fonts/Peyda-Regular.ttf);
}
@font-face {
    font-family: PeydaBlack;
    src: url(../fonts/Peyda-Black.ttf);
}
