@import url(./variables.css);
@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2fbfa;
    font-family: var(--primary-font);
}

.container {
    position: relative;
    background-color: #ffffff;
    width: 80%;
    height: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    border-radius: .5rem;
    margin: auto;
    margin-top: 5%;
    padding: 3rem 4rem;
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'PeydaBlack';
    font-size: 1.5rem;
}

.product__creator-form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 10%;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

input {
    padding: .5rem 1rem;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    background-color: #faf8f8a2;
    font-size: 16px;
}

input::placeholder {
    color: #c0bebe;
    font-family: var(--primary-font);

}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.category {
    padding: 0.5rem;
    background-color: #e3e5e5;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    color: #575656;
    font-size: 1rem;
}

#save {
    width: max-content;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(83, 83, 238);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: white;
}

.cover {
    padding: 0;
    box-shadow: none;
}

.choose,
.selector,
.score-wrapper,
.name-wrapper,
.price-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.description-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* .modal {
    width: 400px;
    height: 300px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
    z-index: 10;
    background-color: #ffffff;
} */

#card {
    position: absolute;
    width: 320px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 40px auto; */
    left: 0;
    right: 0;
    margin: auto;
    top: 6rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.success #upper-side {
    padding: 2em;
    background-color: #8BC34A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
}

.success #checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 80px;
    transform: translateX(60px);
}

.success #status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
}

.success #lower-side {
    padding: 2rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.success #message {
    color: #757575;
    letter-spacing: 1px;
    font-family: var(--primary-font);
}

#successBtn {
    text-decoration: none;
    background: #8bc34a;
    color: #fff;
    margin: auto;
    margin-top: 4rem;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: var(--primary-font);

}

#successBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.danger #upper-side {
    padding: 2em;
    background-color: #c34a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
}

.danger #checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 80px;
    transform: translateX(60px);
}

.danger #status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
}

.danger #lower-side {
    padding: 2rem;
    background: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.danger #message {
    color: #757575;
    letter-spacing: 1px;
    font-family: var(--primary-font);
}

#errorBtn {
    text-decoration: none;
    background: #c34a4a;
    color: #fff;
    margin: auto;
    margin-top: 4rem;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: var(--primary-font);

}

#errorBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}