@import url(./reset.css);
@import url(./fonts.css);
@import url(./variables.css);

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f3f1;
    font-family: var(--primary-font);
    font-size: 24px;
}

button {
    cursor: pointer;
}

/*Start Header Menu Styles */

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
}

.header__background-shape {
    position: absolute;
}

.shape1 {
    top: -3rem;
    right: 0;
    left: 0;
    margin-right: 16rem;
    width: 220px;
    height: 265px;
    z-index: -6;
}

.shape2 {
    top: 0;
    right: -4rem;
    width: 278px;
    height: 321px;
    z-index: -6;
    background-color: #f4f3f1;
}

.shape3 {
    top: 2rem;
    width: 237px;
    height: 274px;
    right: 0;
    left: 0;
    margin-right: 6rem;
    z-index: -6;
}

.shape4 {
    top: 11rem;
    right: -2rem;
    z-index: -5;
}

.container {
    margin: 5.5rem 6.75rem;
}

.header__top {
    display: flex;
    background-color: var(--main-color);
    height: 115px;
    border-radius: 1rem;
    align-items: center;
    /* padding: 0 1.5rem; */
    position: relative;
    z-index: 1;
}

.after-menu {
    position: absolute;
    bottom: 0;
    right: 3.2rem;
}

.header__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: clamp(96px, 207px, 15%);
    /* width: 14.643%; */
    min-width: 96px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* box-shadow: 0px 53px 15px rgba(97, 97, 97, 0.05); */
    filter: drop-shadow(0px 0px 0px rgba(97, 97, 97, 0.05)) drop-shadow(0px 2px 5px rgba(97, 97, 97, 0.05)) drop-shadow(0px 8px 8px rgba(97, 97, 97, 0.04)) drop-shadow(0px 19px 11px rgba(97, 97, 97, 0.03)) drop-shadow(0px 34px 14px rgba(97, 97, 97, 0.01)) drop-shadow(0px 53px 15px rgba(97, 97, 97, 0.00));
}

.header__logo img {
    width: 60%;
}

.logo__title {
    font-family: 'GilroyBold';
    font-size: 100%;
    color: #CFAD5F;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
}

.logo__text {
    font-family: 'GilroyReg';
    font-size: 50%;
    color: #CFAD5F;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.36px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 24px;
    margin-right: 1rem;
    z-index: 100;
}

.bar-long {
    width: 28px;
    height: 2px;
    background-color: var(--dark-color);
    transition: transform 0.3s;
}

.bar {
    width: 14px;
    height: 2px;
    background-color: var(--dark-color);
    transition: transform 0.3s;
}

.menu-open .bar-long:nth-child(1) {
    transform: rotate(-45deg) translate(-11px, 6px);
    height: 3px;
    width: 22px;
}

.menu-open .bar {
    opacity: 0;
}

.menu-open .bar-long:nth-child(3) {
    transform: rotate(45deg) translate(-4px, 0);
    height: 3px;
    width: 22px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tablet__menu {
    display: none;
}

.mobile__menu {
    display: none;
}

.header__menu-right,
.header__menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41%;
}

.header__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.header__menu-item {
    display: flex;
    align-items: flex-end;
    font-family: var(--primary-font);
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    /* width: 100%; */
    color: var(--dark-color);
    text-wrap: nowrap;
    position: relative;
}

.header__menu-item::after {
    content: "";
    position: absolute;
    width: 0;
    top: 3rem;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.2s linear;
}

.header__menu-item:hover::after {
    width: 100%;
}

.header__menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    padding: 2rem 3rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.header__menu-item:hover .header__menu-dropdown {
    opacity: 1;
    top: 2rem;
    visibility: visible;
    transition: all 0.2s linear;
    background-color: var(--main-color);
    z-index: -1;
}

.header__menu-dropdown .dropdown-item {
    margin-top: 1rem;
    position: relative;
}

.dropdown-item::after {
    content: "";
    position: absolute;
    width: 0;
    top: 3rem;
    right: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.2s linear;
}

.dropdown-item:hover::after {
    width: 100%;
}

.menu__item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__dropdown-icon {
    align-self: center;
    padding-right: 8px;
    transition: all .2s linear;
}

.header__menu-item:hover .header__dropdown-icon {
    transform: rotateX(180deg);
    transition: all .2s ease;
}

.menu__item-content p {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__menu-icon {
    width: 32px;
    height: 32px;
}

/*Finish Header Menu Styles */

/*Start Landing Section Styles */

.header__landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.header__landing-right {
    position: relative;
    width: max-content;
}

.landing__right-subtitle {
    color: var(--primary-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    padding-right: 2.5rem;
    text-wrap: nowrap;
}

.landing__right-subtitle::before {
    position: absolute;
    content: "";
    width: 33px;
    height: 5px;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0;
    border-radius: 1rem;
}

.landing__right-title {
    color: var(--dark-color);
    text-align: right;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    margin-top: 2rem;
    text-wrap: nowrap;
}

.landing__right-text {
    color: #838383;
    margin-top: 2rem;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.landing__right-btn {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.2rem;
    width: max-content;
    border-radius: 1rem;
    margin-top: 2rem;
}

.landing__right-btn p {
    font-size: 28px;
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.landing__right-btn svg {
    color: #ffffff;
    font-weight: 100;
}

.after-btn {
    position: absolute;
    right: -5.4rem;
    bottom: -8rem;
    width: 135px;
    z-index: -1;
}

.header__landing-left {
    position: relative;
    display: flex;
}

.before-img {
    position: absolute;
    right: -4.6rem;
    width: 82px;
    top: 5rem;
    z-index: 1;
}

.landing__left-content {
    position: relative;
}

.landing__left-content::before {
    position: absolute;
    content: "";
    width: 201.66px;
    height: 82.97px;
    transform: rotate(-51.868deg);
    background: #F4F3F1;
    left: -4.8rem;
    top: -0.5rem;
}

.landing__left-content::after {
    position: absolute;
    content: "";
    width: 391px;
    height: 476px;
    border: 2px solid var(--primary-color);
    top: 4.5rem;
    left: -0.8rem;
    z-index: -1;
}

.landing__left-image {
    aspect-ratio: 1/1;
}

.landing__left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: max-content;
    padding: 12px 33px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(163, 163, 163, 0.10), 0px 4px 9px 0px rgba(163, 163, 163, 0.10), 0px 17px 17px 0px rgba(163, 163, 163, 0.09), 0px 38px 23px 0px rgba(163, 163, 163, 0.05), 0px 68px 27px 0px rgba(163, 163, 163, 0.01), 0px 106px 30px 0px rgba(163, 163, 163, 0.00);
    position: absolute;
    bottom: -1.4rem;
    right: -18.5rem;
}

.landing__left-text img {
    width: 82px;
    height: 85px;
    margin-left: 1.5rem;
}

.landing__left-text p {
    font-family: 'PeydaBlack';
    color: var(--primary-color);
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: -1;
}

.landing__left-text span {
    color: var(--dark-color);
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*Finish Landing Section Styles */

/*Start Grouping Section Styles */

.groupping {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    flex-direction: column;
    position: relative;
}

.groupping__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.groupping__title {
    color: var(--dark-color);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.groupping__top img {
    width: max-content;
    margin-top: 1rem;
}

.groupping__content {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.groupping__content-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-cover {
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.content__item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.content__item-text p {
    color: var(--dark-color);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content__item-text div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__item-text div::before {
    content: "";
    background-color: rgba(123, 17, 17, 0.20);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.5rem;
}

.mobile__grouping-content {
    display: none;
}

.swiper {
    /* width: 100%; */
    height: 440px;
    position: relative;
}

.mySwiper {
    height: 500px;
}

.swiper-wrapper {
    height: 370px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: 0;
    right: 0;
    top: 28rem;
    bottom: 0;
    margin: 0 auto;
    z-index: 500;
    height: 5px;
    width: 33%;
    background-color: var(--main-color);
}

.swiper-scrollbar-drag {
    background-color: var(--primary-color);
}

/*Finish Grouping Section Styles */

/*Start Products Section Styles */

.products {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 4rem 0;
    position: relative;
    margin-top: 4rem;
    overflow: hidden;
}

.products__bg-shape {
    position: absolute;
}

.p-shape1 {
    top: 0;
    right: 18rem;
}

.p-shape2 {
    top: 0;
    right: 5rem;
}

.p-shape3 {
    top: 0;
}

.p-shape4 {
    right: -1rem;
    top: 0;
    bottom: 2rem;
    margin: auto 0;
}

.products__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-right: 6.75rem;
    width: 40%;
}

.products__right-subtitle {
    color: var(--primary-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.products__right-title {
    color: var(--dark-color);
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    margin-top: 2rem;
}

.products__right-text {
    color: var(--dark-color);
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin-top: 2rem;
}

.swiper-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(180deg);
    gap: 1rem;
    margin-top: 2rem;

}

.button {
    transform: rotate(180deg);
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    text-wrap: nowrap;
    background-color: var(--dark-color);
    border-radius: 10px;
    gap: 7px;
    padding: 15px 18px;
    border: none;
}

.swiper-btns .swiper-button-prev,
.swiper-button-next {
    position: unset;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    width: 80px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 25px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #000;
    font-size: 1.5rem;
}

.products__left {
    width: 100%;
    overflow: hidden;
    margin-right: 3rem;
    display: flex;
    justify-content: flex-start;
}

.mySwiper2 {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    /* margin-right: 2rem; */
    overflow: hidden;

}

.mySwiper2 .swiper-wrapper {
    height: 100%;
    width: 98%;
}

.mySwiper2 .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: unset;
    width: 100%;
}

.products__item {
    padding: 14px 13px;
    background-color: #ffffff;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    border: 3px solid rgba(123, 17, 17, 0.20);
    transition: all 0.2s linear;
    width: 100%;
}

.products__item:hover {
    border: 3px solid var(--primary-color);
    box-shadow: 0px 0px 0px 0px rgba(84, 84, 84, 0.10), 0px 9px 19px 0px rgba(84, 84, 84, 0.10), 0px 34px 34px 0px rgba(84, 84, 84, 0.09), 0px 77px 46px 0px rgba(84, 84, 84, 0.05), 0px 137px 55px 0px rgba(84, 84, 84, 0.01), 0px 214px 60px 0px rgba(84, 84, 84, 0.00);
    transition: all 0.2s linear;
}

.products__item-cover {
    width: 100%;
    height: 238.33px;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

.products__item-title {
    margin-top: .5rem;
    color: var(--dark-color);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products__item-score {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.products__item-score span {
    color: #FFE500;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.products__item-score p {
    color: #585858;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.products__item-price {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__item-price div {
    width: 44px;
    height: 44px;
    border-radius: 3px;
    background: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__item-price p {
    color: var(--primary-color);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.products__item-price span {
    color: #000;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

/* Finish Products Section Styles */

/*Start About Section Styles */

.about {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.about__contents {
    display: flex;
}

.before-sec {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.about__right-title {
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 100%; */
}

.about__title-img {
    width: 90px;
    height: 10px;
}

.about__title-text {
    color: var(--primary-color);
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.about__title-text span {
    color: var(--dark-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.about__right-text {
    color: var(--dark-color);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    margin-top: 4rem;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.about__btn {
    padding: 15px 26px 15px 25px;
    gap: 1.2rem;
    color: #FFF;
    font-family: var(--primary-font);
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    border-radius: 10px;
    background: var(--dark, #1B1B1B);
    border: none;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

.about__products div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__products div::before {
    content: "";
    background-color: rgba(123, 17, 17, 0.20);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.5rem;
}

.about__btn img {
    width: 28px;
}

.about__products {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.about .button {
    transform: none;
}

.about__left {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.left__img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.red-path {
    position: absolute;
    top: 5rem;
    right: -1rem;
}

.left__img-wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f4f3f1;
    top: 0;
    bottom: 0;
    margin: auto;
}

.left__img-wrapper::after {
    content: "";
    border: 3px solid #f4f3f1;
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: -1;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.left__main-img {
    z-index: -1;
}

.icon-holder {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 5rem;
}

.main-line {
    position: absolute;
    z-index: 50;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.main-arrow {
    position: absolute;
    right: -10rem;
    bottom: 5rem;
}

/* Finish About Section Styles */

/* Start Offer Section Styles */

.offer {
    display: flex;
    z-index: -1;
    background-color: var(--main-color);
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 6rem;
    padding-bottom: 4rem;
}

.offer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5.5rem;
    width: 100%;
    height: 100%;
    align-self: flex-end;
}

.offer__right-title {
    color: #3A3A3A;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.offer__right-subtitle {
    color: var(--primary-color);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 1rem;
}

.offer_link-btn {
    display: flex;
    border-radius: 30px;
    background: #FFF;
    padding: 14px 18px 13px 10px;
    align-items: center;
    gap: 5px;
    width: max-content;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--dark-color);
    margin-top: 2rem;
}

.offer__right-bg {
    position: absolute;
    right: 0;
    z-index: -1;
}

.r-shape1 {
    top: 12rem;
    right: 2.3rem;
}

.r-shape2 {
    bottom: 1rem;
    right: -1rem;
    z-index: -2;
}

.r-shape3 {
    bottom: 0;
    right: 3.5rem;
}

.offer__left {
    display: flex;
    position: relative;
    margin-left: 5.5rem;
    width: 100%;
    justify-content: center;
}

.offer__left-bg {
    position: absolute;
    left: 0;
    z-index: -1;
}

.l-shape1 {
    top: 0;
}

.l-shape2 {
    top: 4rem;
    left: 1rem;
    z-index: -2;
}

.l-shape3 {
    top: 9rem;
}

.main__img-bg {
    position: absolute;
    z-index: -1;
    top: 6rem;
}

.offer__before-img {
    position: absolute;
    right: 0;
    top: 60%;
}

.offer__after-img {
    position: absolute;
    left: 6rem;
    bottom: -1.7rem;
    width: 29px;
}

/*  */

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.articles__subtitle {
    color: var(--dark-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.articles__title {
    color: var(--dark-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.articles__content {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.articles__right {
    position: relative;
    padding: 20px 18px 0 18px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.article__text-wrapper {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(158, 158, 158, 0.10), -2px 4px 10px 0px rgba(158, 158, 158, 0.10), -8px 17px 19px 0px rgba(158, 158, 158, 0.09), -19px 37px 25px 0px rgba(158, 158, 158, 0.05), -33px 66px 30px 0px rgba(158, 158, 158, 0.01), -52px 103px 32px 0px rgba(158, 158, 158, 0.00);
    width: 89%;
    border-radius: 10px;
    bottom: 3rem;
    padding: 20px 15px;
}

.article__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.article__items {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.article__text {
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.article__link-btn {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11.5px;
    align-self: flex-end;
}

.articles__left {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem 2rem 2rem;
    border-radius: 10px;
}

.article {
    display: flex;
    background-color: #ffffff;
    padding: 1rem 0;
    border-bottom: 1px solid #DADADA;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    height: max-content;
}

.article:last-child {
    border: none;
}

.article__right {
    display: flex;
}

.article__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article__left-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-wrap: nowrap;
}

.article__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.article__link p {
    color: var(--primary-color);
}

.article__link img {
    width: 24px;
}

/*  */

footer {
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-top: 34px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 52px;
}

.footer__right-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.footer__logo-title {
    color: #CFAD5F;
    text-align: center;
    font-family: GilroyBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo-text {
    text-align: center;
    width: 100%;
    color: #CFAD5F;
    font-family: GilroyReg;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -12px;
    left: 3px;
}

.footer__right-text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__left-socials {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.footer__left-socials svg path {
    fill-opacity: 0.5;
    transition: all .2s linear;
}

.footer__left-socials svg:hover path {
    fill-opacity: 1;
    transition: all .2s linear;
}

.footer__left-contents {
    display: flex;
    gap: 65px;
    margin-top: 2rem;
}

.footer__links {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-wrap: nowrap;
}

.footer__links-item {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.5rem;
}

.footer__adresses {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-wrap: nowrap;
}

.footer__adresses-item {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 1285px) {
    .offer__right-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1260px) {

    .header__top {
        height: 95px;
    }

    .header__menu-item {
        font-size: 16px;
    }

    .logo__title {
        font-size: 80%;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.84px;
    }

    .logo__text {
        font-size: 40%;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.24px;
    }

    .landing__right-subtitle {
        font-size: 24px;
    }

    .landing__right-title {
        font-size: 36px;
    }

    .landing__right-text {
        font-size: 16px;
    }

    .landing__right-btn p {
        font-size: 20px;
    }

    .landing__right-btn svg {
        font-size: 20px;
    }

    .header__landing-left {
        width: 350px;
        justify-content: flex-end;
        width: 50%;
    }

    .landing__left-image {
        width: 350px;
        margin-left: 1.5rem;
    }

    .landing__left-content::after {
        width: 310px;
        height: 365px;
        left: .7rem;
    }

    .landing__left-content::before {
        height: 62px;
        width: 146px;
        left: -2.2rem;
    }

    .landing__left-text {
        right: -14rem;
        bottom: -1rem;
    }

    .landing__left-text img {
        width: 62px;
        height: 65px;
    }

    .landing__left-text p {
        font-size: 30px;
    }

    .landing__left-text span {
        font-size: 18px;
    }

    .mySwiper2 .swiper-slide {
        margin-right: 20px;
    }

    .products__item-price p {
        font-size: 20px;
    }

    .articles__content {
        flex-direction: column;
    }

    .articles__right {
        padding-bottom: 10rem;
    }

    .article__text-wrapper {
        bottom: 3rem;
    }

    .articles__left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .article {
        justify-content: center;
    }

    .article:nth-child(3) {
        border: none;
    }
}

@media only screen and (max-width: 1177px) {

    .about__title-text {
        font-size: 40px;
    }

    .about__title-text span {
        font-size: 40px;
    }

    .about__title-img {
        width: 80px;
    }

    .about__right-text {
        font-size: 20px;
    }

    .left__main-img {
        width: 400px;
    }

    .main-arrow {
        position: absolute;
        right: -8rem;
        bottom: 0;
        transform: rotate(12.591deg);
        width: 115px;
        height: 30px;
    }

    .icon-holder {
        width: 90px;
        height: 90px;
        bottom: 4rem;
    }

    .play-icon {
        width: 50px;
    }

    .offer__right-title {
        font-size: 20px;
    }

    .offer__right-subtitle {
        font-size: 40px;
    }

    .offer__before-img {
        right: -2rem;
    }

    .offer__main-img {
        width: 420px;
    }

    .footer__left-contents {
        gap: 40px;
    }
}

@media only screen and (max-width: 965px) {

    .header__top {
        height: 57px;
        margin: 3rem 2.5rem;
        border-radius: 0.3rem;
    }

    .header__logo {
        width: 96px;
    }

    .header__logo img {
        width: 41px;
        height: 39px;
    }

    .logo__title {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.84px;
    }

    .header__landing {
        margin: 2rem 2.5rem;
    }

    .logo__text {
        font-size: 8px;
        font-style: normal;
    }

    .landing__right-subtitle {
        font-size: 22px;
        padding-right: 1.5rem;
    }

    .landing__right-subtitle::before {
        width: 1rem;
    }

    .landing__right-title {
        font-size: 30px;
        margin-top: 0;
    }

    .landing__right-text {
        font-size: 16px;
        margin-top: 0;
        max-width: 355px;
    }

    .landing__right-btn {
        margin-top: 1rem;
        border-radius: 5px;
    }

    .landing__right-btn p {
        font-size: 12px;
    }

    .landing__right-btn svg {
        font-size: 12px;
    }

    .landing__left-text {
        right: -14rem;
        bottom: -1rem;
        border-radius: 10px;
    }

    .products__right {
        padding-right: 2.5rem;
    }

    .products__right-subtitle {
        font-size: 35px;
    }

    .products__right-title {
        font-size: 60px;
    }

    .products__right-text {
        font-size: 18px;
    }

    .button {
        font-size: 16px;
        padding: 8px 12px;
    }

    .swiper-btns .swiper-button-prev,
    .swiper-button-next {
        height: 58px;
        min-width: 58px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.2rem;
    }

    .basket-icon {
        width: 24px !important;
    }

    .about__contents {
        margin-left: 40px;
        margin-right: 40px;
    }

    .about__right,
    .about__left {
        margin: 0;
    }

    .about__right-text {
        margin-top: 2rem;
        font-size: 16px;
    }

    .btn-wrapper {
        margin-top: 2rem;
    }

    .left__main-img {
        width: 320px;
    }

    .offer__right {
        margin-right: 2.5rem;
    }

    .offer__left {
        margin-left: 2.5rem;
    }

    .articles__content {
        margin: 2rem 2.5rem 5rem 2.5rem;
    }

    .articles__right-main-img {
        width: 700px;
    }

    .article {
        gap: 0;
        width: max-content;
    }

    .article__left {
        margin-right: 1rem;
    }

    .footer__right-text {
        font-size: 14px;
    }

    .footer__contents {
        margin-left: 40px;
        margin-right: 40px;
    }

    .footer__links,
    .footer__adresses {
        font-size: 20px;
    }

    .footer__adresses-item,
    .footer__links-item {
        font-size: 14px;
    }
}

/* Media Query For Tablet Size */

@media only screen and (max-width: 804px) {

    .header__top {
        margin: 3rem 1.5rem;
    }

    .menu-icon {
        display: flex;
    }

    .after-menu {
        display: none;
    }

    .header__menu-icon {
        width: 24px;
        height: 24px;
    }

    .mobile__menu {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .tablet__menu {
        display: flex;
        width: 100%;
        font-size: 20px;
        transition: all 0.2s linear;
    }

    .tablet__menu-list {
        position: absolute;
        top: 2.5rem;
        right: -10rem;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #e9d5b15a;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        z-index: -1;
        font-size: 24px;
        padding-top: 4rem;
        transition: all 0.2s linear;
    }

    .tablet__menu-list .tablet__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        /* padding-right: 5rem; */
        position: relative;
        transition: all 0.2s linear;
        width: max-content;
        align-items: center;
    }

    .tablet__menu-list .tablet__menu-item::after {
        content: "";
        position: absolute;
        width: 0;
        top: 3rem;
        height: 2px;
        background-color: var(--primary-color);
        transition: all 0.4s linear;
    }

    .tablet__menu-list .tablet__menu-item:hover::after {
        width: 100%;
        transition: all 0.4s linear;
    }

    .menu__drop {
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all .2s linear;
    }

    .menu-open .tablet__menu-dropdown {
        transition: all 0.2s linear;
    }

    .tablet__menu-dropdown {
        flex-direction: column;
        margin-right: 4rem;
        visibility: hidden;
        top: -15rem;
        bottom: 0;
        position: absolute;
        transition: all 0.2s linear;
        width: 150px;
        height: 250px;
    }

    .tablet__dropdown-icon {
        font-size: 1.2rem;
        margin-right: 1rem;
        transition: all 0.2s linear;
    }

    .dropdown-item {
        padding-top: 1rem;
        width: 100%;
    }

    .dropdown-item a {
        width: 100%;
    }

    .tablet__menu-list .dropdown-item::after {
        content: "";
        position: absolute;
        width: 0;
        right: 0;
        top: 3rem;
        height: 2px;
        background-color: var(--primary-color);
        transition: all 0.4s linear;
    }

    .tablet__menu-list .dropdown-item:hover::after {
        width: 100%;
        transition: all 0.4s linear;
    }

    .tablet__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .tablet__header-right {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: calc(50% - 48px);
    }

    .tablet__header-left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: calc(50% - 48px);
    }

    .tablet__header-item-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__landing {
        position: relative;
        flex-direction: column;
        margin: 2rem 1.5rem;
    }

    .header__landing-right {
        position: relative;
        width: 100%;
        align-items: flex-start;
    }

    .landing__right-subtitle {
        font-size: 25px;
    }

    .landing__right-title {
        font-size: 40px;
    }

    .landing__right-text {
        font-size: 20px;
        max-width: unset;
    }

    .header__landing-right div {
        position: absolute;
        top: 50rem;
    }

    .landing__right-btn {
        border-radius: 5px;
        padding: 18px 16px;
        margin-top: 2rem;
    }

    .landing__right-btn p {
        font-size: 16px;
    }

    .landing__right-btn svg {
        font-size: 16px;
    }

    .header__landing-left {
        position: absolute;
        top: 11rem;
        width: 100%;
        justify-content: center;
    }

    .landing__left-content::after {
        left: -3.4rem;
        right: 0;
        margin: auto;
        width: 391px;
        height: 476px;
    }

    .landing__left-content::before {
        left: -3.4rem;
        width: 200px;
        height: 82.97px;
    }

    .landing__left-text {
        right: -3rem;
        bottom: -2.5rem;
    }

    .after-btn {
        display: none;
    }

    .before-img {
        display: none;
    }

    .landing__left-image {
        width: unset;
    }

    .groupping {
        margin-top: 55rem;
    }

    .basket-icon {
        width: 12px !important;
    }

    .products__right {
        padding-right: 1.5rem;
    }

    .mySwiper2 .swiper-slide {
        margin-right: 2rem;
    }

    .products__item {
        padding: 10px 9px;
    }

    .products__item-title {
        font-size: 16px;
    }

    .products__item-score p,
    .products__item-score span {
        font-size: 12px;
    }

    .products__item-score img {
        width: 14px;
    }

    .products__item-price div {
        width: 30px;
        height: 30px;
    }

    .products__item-price div img {
        width: 14px;
    }

    .products__item-price p {
        font-size: 20px;
    }

    .products__item-price span {
        font-size: 12px;
    }

    .products__right {
        width: 50%;
    }

    .products__left {
        margin: 0;
    }

    .button {
        font-size: 12px;
        padding: 2px 15px;
    }

    .button img {
        width: 16px;
    }

    .swiper-btns .swiper-button-prev,
    .swiper-button-next {
        height: 45px;
        width: 45px;
        min-width: unset;
    }

    .about {
        width: 100%;
    }

    .about__contents {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 24px;
        margin-left: 24px;
    }

    .about__right {
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .about__left {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 4rem;
    }

    .about__right-title {
        align-self: flex-start;
    }

    .about__right-text {
        position: absolute;
        top: 45rem;
        font-size: 20px;
    }

    .btn-wrapper {
        position: absolute;
        justify-content: flex-start;
        top: 55rem;
        width: 100%;
    }

    .left__main-img {
        width: 400px;
    }

    .main-arrow {
        transform: rotateY(180deg) rotate(45deg);
        right: 0;
        bottom: -2rem;
    }

    .offer {
        display: none;
    }

    .articles {
        margin-top: 30rem;
    }

    .articles__content {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .articles__right-main-img {
        width: 570px;
    }

    .article__title {
        font-size: 20px;
    }

    .article__text {
        font-size: 14px;
    }

    .article__link-btn {
        padding: 8px;
    }

    .article__right img {
        width: 90px;
    }

    .article__left-title {
        font-size: 16px;
    }

    .article__link {
        margin-top: 0;
    }

    .article__link p {
        font-size: 16px;
    }

    .article__link img {
        width: 20px;
    }

    .footer__contents {
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;
    }

    .footer__right {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .footer__right-text {
        font-size: 18px;
    }

    .footer__left-socials {
        justify-content: center;
        margin-top: 2rem;
    }

    .footer__left-contents {
        margin-top: 4rem;
    }

    .footer__links,
    .footer__adresses {
        font-size: 24px;
    }

    .footer__adresses-item,
    .footer__links-item {
        font-size: 18px;
    }

}

/* Media Query For Mobile Size */

@media only screen and (max-width: 650px) {

    .groupping__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .after-title {
        width: 150px !important;
        height: 5px;
    }

    .groupping__content {
        display: none;
    }

    .mobile__grouping-content {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        gap: 4rem;
    }

    .mobile__grouping-content .groupping__content-item {
        justify-content: center;
        align-items: center;
    }

    .mobile__grouping-content .content__item-text {
        width: 100%;
    }

    .mobile__grouping-content .content__item-text p {
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .mobile__grouping-content .content__item-text div::before {
        width: 1rem;
        height: 1rem;
        right: -.25rem;
        bottom: 2px;
    }

    .content__item-img {
        width: 226px;
        height: 266px;
        border-top-right-radius: 10rem;
        border-top-left-radius: 10rem;
    }

    .products {
        margin-top: 4rem;
        padding: 2rem 0;
    }

    .products__right-subtitle {
        font-size: 20px;
    }

    .products__right-title {
        font-size: 30px;
        margin-top: 1rem;
        line-height: 0;
    }

    .products__right-text {
        font-size: 8px;
        line-height: 1rem;
        margin-top: 1rem;
    }

    .swiper-btns {
        align-items: flex-end;
        margin-top: 1rem;
    }

    .button {
        font-size: 8px;
        padding: 7px 5px;
        line-height: 0;
        border-radius: 5px;
        border: none;
    }

    .button img {
        width: 9px;
    }

    .swiper-btns .swiper-button-prev,
    .swiper-button-next {
        height: 25px;
        width: 25px;
        min-width: unset;
        border-radius: 5px;
        border: 1px solid var(--dark-color);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: .8rem;
    }

    .products__item {
        padding: 5px;
    }

    .mySwiper2 .swiper-slide {
        margin-right: 0;
    }

    .products__item-cover {
        height: 150px;
    }

    .products__item-title {
        font-size: 12px;
        margin: 0;
        line-height: 0.8rem;
    }

    .products__item-score p,
    .products__item-score span {
        font-size: 8px;
    }

    .products__item-score img {
        width: 9.1px;
    }

    .products__item-price {
        margin-top: .3rem;
    }

    .products__item-price p {
        font-size: 12px;
    }

    .products__item-price span {
        font-size: 8px;
    }

    .products__item-price div {
        width: 24px;
        height: 24px;
    }

    .products__bg-shape {
        /* display: none; */
        width: 150px;
    }

    .p-shape1 {
        right: 12rem;
    }

    .p-shape2 {
        right: 6rem;
        top: 0.5rem;
    }

    .p-shape4 {
        top: 2rem;
        right: -4rem;
    }

    .products__left {
        margin-right: 1rem;
    }

    .before-sec {
        display: none;
    }

    .articles__right-main-img {
        width: 450px;
    }

    .article {
        gap: 1.5rem;
        width: 100%;
    }

    .articles__right {
        padding-top: 10px;
        padding-right: 11px;
        padding-left: 11px;
    }

    .articles__left {
        display: flex;
        flex-direction: column;
        padding: 32px 0;
    }

    .article__right img {
        width: unset;
    }

    .article__left-title {
        font-size: 18px;
    }

    .article__link p {
        font-size: 18px;
    }

    .article__link img {
        width: unset;
    }

    .article:nth-child(3) {
        border-bottom: 1px solid #DADADA;
    }
}

@media only screen and (max-width: 608px) {

    .header__background-shape {
        display: none;
    }

    .menu__item-content p {
        display: none;
    }

    .menu-icon {
        margin-right: .5rem;
    }

    .mobile__menu {
        display: flex;
        width: 100%;
        font-size: 1rem;
        transition: all 0.2s linear;
    }

    .header__menu {
        display: none;
    }

    .tablet__menu {
        display: none;
    }

    .mobile__header {
        justify-content: left;
    }

    .mobile__menu-list {
        position: absolute;
        top: 0;
        right: -10rem;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #e9d5b15a;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 120vh;
        z-index: -1;
        padding-top: 6rem;
        transition: all 0.2s linear;
        font-size: 24px;
    }

    .mobile__menu-list .mobile__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        position: relative;
        transition: all 0.2s linear;
    }

    .mobile__menu-list .mobile__menu-item::after {
        content: "";
        position: absolute;
        width: 0;
        top: 3rem;
        height: 2px;
        background-color: var(--primary-color);
        transition: all 0.4s linear;
    }

    .mobile__menu-list .mobile__menu-item:hover::after {
        width: 40%;
        transition: all 0.4s linear;
    }

    .menu__drop {
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all .2s linear;
    }

    .menu-open .mobile__menu-dropdown {
        transition: all 0.2s linear;
    }

    .mobile__menu-dropdown {
        flex-direction: column;
        margin-right: 2rem;
        visibility: hidden;
        top: -15rem;
        bottom: 0;
        position: absolute;
        transition: all 0.2s linear;
    }

    .mobile__dropdown-icon {
        font-size: 1.2rem;
        margin-right: 1rem;
        transition: all 0.2s linear;
    }

    .dropdown-item {
        padding-top: 1rem;
    }

    .mobile__menu-list .dropdown-item::after {
        content: "";
        position: absolute;
        width: 0;
        right: 0;
        top: 3rem;
        height: 2px;
        background-color: var(--primary-color);
        transition: all 0.4s linear;
    }

    .mobile__menu-list .dropdown-item:hover::after {
        width: 100%;
        transition: all 0.4s linear;
    }

    .mobile__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-size: 1rem;
    }

    .mobile__header-left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: .5rem;
        gap: 1rem;
    }

    .mobile__header-item-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .landing__right-subtitle::before {
        width: 21px;
    }

    .landing__right-subtitle {
        font-size: 16px;
    }

    .landing__right-title {
        font-size: 27px;
    }

    .header__landing-right div {
        top: 33rem;
    }

    .landing__right-text {
        font-size: 15px;
    }

    .header__landing {
        margin-top: 1rem;
    }

    .header__landing-left {
        top: 8rem;
    }

    .landing__left-image {
        width: 276.168px;
        height: 335.931px;
    }

    .landing__left-content::after {
        width: 245.972px;
        height: 299.444px;
        bottom: 1rem;
        left: -1rem;
    }

    .landing__left-content::before {
        width: 126.863px;
        height: 52.198px;
        left: -1.5rem;
    }

    .landing__left-text {
        padding: 7px 1rem;
        right: -1.6rem;
        bottom: -2rem;
        border-radius: 10px;
    }

    .landing__left-text p {
        font-size: 24px;
    }

    .landing__left-text span {
        font-size: 16px;
    }

    .landing__left-text img {
        width: 41px;
        height: 43px;
    }

    .groupping {
        margin-top: 40rem;
    }

    .left__main-img {
        width: 279px;
    }

    .main-arrow {
        width: 85px;
        height: 25px;
    }

    .about__title-img {
        width: 47px;
        height: 4px;
    }

    .about__title-text {
        font-size: 24px;
    }

    .about__title-text span {
        font-size: 24px;
    }

    .about__right-text {
        font-size: 16px;
        top: 33rem;
        line-height: 24px;
    }

    .btn-wrapper {
        top: 40rem;
        justify-content: flex-start;
        width: 100%;
    }

    .about__btn {
        font-size: 24px;
        padding: 10px 18px;
    }

    .about__btn img {
        width: 28px;
    }

    .red-path {
        width: 25px;
        height: 30px;
        top: 1rem;
        right: 0;
    }

    .main-line {
        height: 100%;
    }

    .main-arrow {
        right: 2rem;
        bottom: -3rem;
        transform: rotateY(180deg) rotate(25deg);
    }

    .icon-holder {
        width: 68px;
        height: 68px;
        bottom: 0.5rem;
    }

    .icon-holder img {
        width: 38px;
        height: 38px;
    }

    .articles {
        margin-top: 22rem;
    }
    .footer__right img {
        width: 71px;
    }

    .footer__logo-title {
        font-size: 16px;
    }

    .footer__logo-text {
        font-size: 12px;
        letter-spacing: 1.56px;
        position: unset;
    }

    .footer__right-text {
        font-size: 12px;
    }

    .footer__left-socials svg {
        width: 32px;
    }

    .footer__left-contents {
        margin-top: 4rem;
    }

    .footer__links,
    .footer__adresses {
        font-size: 16px;
    }

    .footer__adresses-item,
    .footer__links-item {
        font-size: 12px;
    }

}

@media only screen and (max-width: 500px) {

    .articles__subtitle {
        font-size: 18px;
    }

    .articles__title {
        font-size: 30px;
    }

    .articles__right-main-img {
        width: 321px;
    }

    .articles__right {
        padding-bottom: 9rem;
    }

    .article__text-wrapper {
        bottom: 3rem;
        width: 85%;
    }

    .article__title {
        font-size: 16px;
    }

    .article__items {
        position: relative;
    }

    .article__text {
        font-size: 12px;
        line-height: 16px;
    }

    .article__link-btn {
        padding: 5.5px;
        position: absolute;
        left: 0;
        bottom: -0.5rem;
    }

    .article__link-btn img {
        width: 12px;
    }

    .articles__left {
        padding-right: 20px;
        padding-left: 20px;
    }

    .article {
        gap: 0;
    }

    .article__left-title {
        font-size: 16px;
    }

    .article__link p {
        font-size: 16px;
    }

    .article__link img {
        width: 24px;
    }
}

@media only screen and (max-width: 450px) {
    .mySwiper2 {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {

    .mobile__header-left {
        gap: 0.5rem;
    }

    .header__menu-icon {
        width: 20px;
    }

    .landing__right-title {
        font-size: 20px;
    }

    .landing__right-subtitle {
        font-size: 12px;
    }

    .landing__right-subtitle::before {
        width: 15px;
        height: 2px;
    }

    .header__landing-right div {
        top: 30rem;
    }

    .landing__left-content::before {
        width: 90px;
        height: 40px;
        left: -2.2rem;
    }

    .landing__left-content::after {
        width: 200px;
        height: 240px;
        left: -.8rem;
    }

    .landing__left-text p {
        font-size: 20px;
    }

    .landing__left-text span {
        font-size: 12px;
    }

    .landing__left-text img {
        margin-left: 1rem;
    }

    .landing__left-image {
        width: 200px;
        height: 280px;
        margin: 0;
    }

    .groupping {
        margin-top: 37rem;
    }

    .products__bg-shape {
        /* display: none; */
        width: 100px;
    }

    .p-shape1 {
        right: 8rem;
    }

    .p-shape2 {
        right: 4rem;
        top: 0.5rem;
    }

    .p-shape4 {
        top: -2rem;
        right: -2rem;
    }

    .swiper-btns {
        gap: 0.3rem;
    }

    .mySwiper2 {
        width: 100%;
    }

    .about {
        padding-top: 2rem;
    }

    .about__left {
        margin-top: 2rem;
    }

    .about__right-text {
        top: 28rem;
    }

    .btn-wrapper {
        top: 38rem;
        justify-self: flex-start;
        gap: 1rem;
    }

    .about__btn {
        font-size: 16px;
        padding: 5px 15px;
    }

    .about__btn img {
        width: 20px;
    }

    .about__products {
        font-size: 16px;
    }

    .about__products img {
        width: 28px;
    }

    .about__products div::before {
        width: 1rem;
        height: 1rem;
    }

    .left__main-img {
        width: 240px;
    }

    .articles__right {
        width: max-content;
        align-self: center;
        padding-bottom: 7rem;
    }

    .articles__right-main-img {
        width: 220px;
    }

    .article__text-wrapper {
        width: 80%;
        bottom: 2rem;
    }

    .article__title {
        font-size: 12px;
    }

    .article__text {
        font-size: 8px;
    }

    .article__link-btn {
        padding: 3px;
    }

    .article__link-btn img {
        width: 8px;
    }

    .articles__left {
        padding-right: 10px;
        padding-left: 10px;
    }

    .article__right img:first-child {
        width: 80px;
    }

    .article__left-title {
        font-size: 12px;
    }

    .article__link p {
        font-size: 12px;
    }

    .article__link img {
        width: 16px;
    }

    .footer__right {
        gap: 1rem;
    }

    .footer__logo-title {
        font-size: 12px;
    }

    .footer__logo-text {
        font-size: 8px;
    }

    .footer__right img {
        width: 50px;
    }

    .footer__left-socials {
        margin: 1rem auto;
    }

    .footer__left-contents {
        gap: 2rem;
        flex-direction: column;
        margin-top: 2rem;
    }

    .footer__adresses-item,
    .footer__links-item {
        margin-top: .8rem;
    }
}