@import url(../../css/variables.css);
@import url(../../css/fonts.css);
@import url(../../css/reset.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* overflow-y: hidden; */
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #f4f3f1;
    font-family: var(--primary-font);
    color: #3d5654;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 4rem auto;
    background-color: #f4f3f1;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.148);
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    display: flex;
    padding-left: 2rem;
    gap: 2rem;
}

.bg-circle {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #3d5654;
    position: absolute;
    right: -10rem;
    top: -14rem;
    z-index: -1;
}

.bg-circle-one {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #e1d8ca;
    bottom: 0;
    z-index: -1;
    border-top-right-radius: 80%;
    /* border-top-left-radius: 70%; */
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.444);

}

.menu {
    width: fit-content;
    background-color: var(--main-color);
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.profile {
    background-color: #e9cc9a;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    position: relative;
    /* overflow: hidden; */
    width: 80px;
    height: 80px;
    background-color: #989897;
}

.profile-image::after {
    position: absolute;
    content: '';
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 3px solid #3d5654;
    /* border-image: linear-gradient(to bottom, #3d5654, var(--main-color) 1 100%); */
    right: -7px;
    top: -7px;
}

.profile-image img {
    object-position: .5rem .2rem;
    width: 110%;
    /* height: 100%; */
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.profile-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.profile-email {
    margin-top: .5rem;
    font-size: .8rem;
    font-size: 'GilroyReg';
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
}

.menu-item {
    width: 100%;
    margin-right: 2rem;
    padding: 1rem 1rem 1rem 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.active {
    background-color: #f4f3f1;
}

.header__logo {
    background-color: #3d5654;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    max-width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* box-shadow: 0px 53px 15px rgba(97, 97, 97, 0.05); */
    filter: drop-shadow(0px 0px 0px rgba(97, 97, 97, 0.05)) drop-shadow(0px 2px 5px rgba(97, 97, 97, 0.05)) drop-shadow(0px 8px 8px rgba(97, 97, 97, 0.04)) drop-shadow(0px 19px 11px rgba(97, 97, 97, 0.03)) drop-shadow(0px 34px 14px rgba(97, 97, 97, 0.01)) drop-shadow(0px 53px 15px rgba(97, 97, 97, 0.00));
}

.header__logo img {
    width: 50%;
}

.logo__title {
    font-family: 'GilroyBold';
    font-size: 100%;
    color: #CFAD5F;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
}

.logo__text {
    font-family: 'GilroyReg';
    font-size: 50%;
    color: #CFAD5F;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.36px;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page-content__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.status-wrapper {
    border-radius: 2rem;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */
    flex: 1;
}

.status-text__wrapper {
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.status-title {
    font-family: 'PeydaBlack';
    position: relative;
    margin-right: 15px;
}

.status-title::before {
    position: absolute;
    content: '';
    right: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3d5654;
}

.status-text {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

.profit-percent {
    color: rgb(15, 201, 49);
}

.duration {
    margin-top: 1.5rem;
    color: #989897;
}

.money-green {
    color: green;
}

.money-blue {
    color: blue;
}

.money-red {
    color: red;
}

.chart-wrapper {
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;

}

.chart {
    border-radius: 2rem;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: fit-content;
}

@media only screen and (max-width: 1250px) {

    .container {
        margin: 4rem 2.5rem;
        height: 652.8px;
    }

    .page-content {
        gap: 1rem;
    }

    .page-content__top {
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .status-text__wrapper {
        padding: 1rem;
    }

}

@media only screen and (max-width: 1100px) {

    .status-text {
        margin-top: .5rem;
    }

    .duration {
        margin-top: .5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .page-content__top {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 804px) {

    .container {
        flex-direction: column;
        width: 100%;
        margin: 10rem 1.5rem;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        height: unset;
    }

    .page-content {
        box-shadow: none;
    }

    .menu {
        width: 100%;
        flex-direction: row;
        padding: 1rem 4rem;
    }

    .profile {
        display: none;
    }

    .menu-list {
        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-item {
        margin-right: 0;
        padding: 1rem;
        width: fit-content;
    }

    .menu-item__link {
        display: none;
    }

    .active {
        border-radius: 5px;
    }

    .header__logo {
        /* display: none; */
        position: absolute;
        top: 1rem;
        right: 0;
        left: 0;
        margin: auto;
    }

    .personal-info,
    .user-location {
        padding: 1rem;
    }

    .page-content {
        margin: 1rem;
        padding: 1rem;
        width: 100%;
    }

    .bg-circle-one {
        height: 40%;
    }

    .chart-wrapper {
        max-width: 100%;
    }

    .chart {
        width: 100%;
    }

}

@media only screen and (max-width: 650px) {

    #card {
        width: 100%;
    }

    .container {
        margin: 4rem 1.5rem;
        margin-top: 8rem;
        gap: 1rem;
        overflow: hidden;
    }

    .header__logo {
        max-width: 90px;
        top: 1rem;
    }

    .page-content {
        margin: 0;
        padding: 1rem;
        padding-top: 0;
    }

    .logo__title {
        font-size: .6rem;
    }

    .logo__text {
        letter-spacing: 2px;
    }

    .menu-list {
        gap: 0;
    }

    .menu-item {
        font-size: 1rem;
        padding: .5rem;
    }

    .menu {
        padding: 1rem .5rem;
    }

    .page-content__top {
        flex-direction: column;
        gap: 0;
    }

    .status-text__wrapper {
        padding: 1rem;
    }

    .chart-wrapper {
        overflow-x: scroll;
    }

    .chart {
        width: unset;
    }
}